/* 
* Start of contact form
 */
 .container{
  width: 100%;
  height: 50vh;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
form{  
  display: flex;
  flex-direction: column;
  padding: 2vw;
  width: 90%;
  max-width: 600px;
  border-radius: 7px;
  margin: 0;
}
form h3{
  color: rgb(242, 231, 231);
  font-weight: 800;
  margin-bottom: 20px;
}
form input[type=text], input[type=email], input[type=tel], textarea{
  border: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  outline: none;
  background-color: rgb(254, 251, 247);
  font-size: 16px;
  border-radius: 3px;
}
input::placeholder{
  font-family: 'Droid Sans Mono', 'monospace', monospace;
}
input:focus::placeholder{
    transition: opacity 1s 0s ease!important;
	   opacity: 0;
  }
  textarea:focus::placeholder{
    transition: opacity 1s 0s ease!important;
    opacity: 0;
  }

form button{
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
.inputLable{
  color: silver;
  margin-top: 6px;
  margin-bottom: -10px;
}
  .h1_a{
    cursor: url("./richardhaskell/images/back-arrow.png"),help; 
  }
  .hero-image3{
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01)), url("images/more-mountains.png");
  }

  .credit{
    margin-bottom: 0%;
    font-size: small;
  }
  @media screen and (max-width: 392px){
    .container form#contact-form{
      margin-left: -20px;
    }
  }
  