#submitButton {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    text-align: center;
    z-index: 50;
  }
  
  #submitButton:hover {
    background-color: #45a049;
  }

  #shim {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: .00;
    -moz-opacity: .00;
    background: #B8B8B8;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    /* width: 100%; */
    z-index: 990;
    display: none;
  }
  
  #msgbx {
    position:absolute;
    height: 570px;
    width: 92%;
    max-width: 600px;
    margin-top: 0px;
    margin-left: 0%; 
    background: #fff;
    z-index: 999;
    overflow-x: auto;
    text-align: center;
    background-color:#224162;/* #294766; */
    opacity: 1;    
  }
 
  /* #parent {
    width: calc(115px * 2);
    height: 85px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
  } */
  /* .popBtn{
    border-style: none;
    border-radius: 7px;
    border-width: 0px;
    border-color: black;
    font-size: large;
    background-color:#294766;
    width: 97px;
    height: 20px;
    top: 20%;
    text-align: center;
    vertical-align: bottom;
    color:#fff
  } */
  
  /* #cancelBtn {
    position: relative;
    float: left;
    margin-left: 14px;
    padding-top: 3px;
  } */
  /* #saveBtn {
    position: relative;
    margin:auto;
    left: 10%;
    border-width: 3px;
    width:max-content;
  } */
  /* .output {
    margin: auto;
    width: fit-content;
    font-size: large;
  } */
  
  #msg {
    position: relative;
    top: 25px;
    margin: auto;
    font-size: 12pt;
    background-color: none;
  
  }
  @media screen and(max-width: 940px) {
    #msgbx {
      margin-left: 20%;
      left: 30% !important;
    }
  }
  @media screen and(max-width: 400px) {
    #msgbx {
      position:relative !important;
      margin-left: -2%;
      overflow:auto;
    }
    #msg{
      overflow-wrap: break-word;
      text-align:left;
    }
  }
